@using Microsoft.AspNetCore.Mvc.Localization
@using IczpNet.ChatMaxim.Localization
@inject IHtmlLocalizer<ChatMaximResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
